<div class="layout_2_column">
  <div class="columns">
    <div class="main column">
      <div id="Profiles" class="profiles pane">
        <h2>Cyclist Profiles</h2>
        <div class="profiles">
          <%= render :partial => 'shared/profiles' %>
        </div>
      </div>
    </div>
    <div class="side column">
      <%= render :partial => 'shared/side_nav' %>
    </div>
  </div>
</div>