<div id='body_content' class="main column orange pane">
  <h2><%= raw @page.title || '' %></h2>
  <%=raw @page.content_for(:body) %>
  <section id='side_body_content'>
    <%=raw @page.content_for(:side_body) %>
  </section>
</div>
<!--section id='cyclist_profile_content'>
  < %=raw @page.content_for(:cyclist_profile_content) %>
</section-->