<nav id='<%= "menu-override" %>'>
  <% if current_refinery_user && !current_refinery_user.has_role?(:superuser) %>
    <%= link_to 'Home', refinery.root_path,
                :class => "inactive" %>
  <% end %>
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    <% if current_refinery_user && (current_refinery_user.has_role?(:superuser) ||
        ['events', 'refinery_users'].include?(plugin.name) ) %>
      <% title = !current_refinery_user.has_role?(:superuser) &&
          plugin.name == 'refinery_users' ? 'Your Information' : plugin.title %>
      <%= link_to title, refinery.url_for(plugin.url),
                  :class => ("active" if plugin.highlighted?(params)),
                  :id => "plugin_#{plugin.name}" %>
    <% end %>
  <% end -%>
  <% if current_refinery_user && !current_refinery_user.has_role?(:superuser) %>
    <%= link_to 'Logout', refinery.destroy_refinery_user_session_path,
                :class => "inactive" %>
  <% end %>
</nav>
