<script id="CalendarTemplate" type="x-handlebars-template">
  <div class="calendar">
    <div class="header">
      <div class="prev" onclick="Events.prevMonth()">
        &lt;
      </div>
      <div class="title">
        {{title}}
      </div>
      <div class="next" onclick="Events.nextMonth()">
        &gt;
      </div>
    </div>
    <div class="month" data-month="{{month}}">
      <div class="week header">
        <div class="day">Sun</div>
        <div class="day">Mon</div>
        <div class="day">Tue</div>
        <div class="day">Wed</div>
        <div class="day">Thu</div>
        <div class="day">Fri</div>
        <div class="day">Sat</div>
        <div class="clr"></div>
      </div>
      {{#each weeks}}
        <div class="week">
          {{#each days}}
            <div class="day" data-date="{{date}}" data-num-events="0">
              {{date}}
            </div>
          {{/each}}
          <div class="clr"></div>
        </div>
      {{/each}}
    </div>
  </div>
</script>
