<%
   ###
   # Show child locations if any exist
   # TODO implement some sort of UI for this
   ###
   if defined? @childLocations and @childLocations.count > 0
%>
  <div class="dropDown">
    <%= @location.name %>
    <div class="submenu">
        <% @childLocations.each do |l| %>
            <div class="item" data-href="<%= refinery.locations_location_path(l) %>"><%= l.name %></div>
        <% end %>
    </div>
  </div>
<% end -%>