<script id="EventListItemTemplate" type="x-handlebars-template">
  <div class="event">
    <h3>{{title}}</h3>
    <p>{{blurb}}</p>
    <!--

    TODO: what else goes here?

    -->
    <div class="date">
      <span class="day">{{dayOfMonth}}</span>
      <span class="month">{{monthName}}</span>
      <span class="year">{{year}}</span>
    </div>
    
  </div>
</script>