<div class="header_bar_2">
  <div class="w960">
    <div class="logo button" onclick="window.location='/'">
    </div>
      <div id="RideWithUs"
          class="orange chevron button"
        <% if @location.present? %>
          onclick="window.location.href='/events?location=<%= @location.slug %>#btwd'"
        <% else %>
          onclick="window.location.href='/events#btwd'"
        <% end %>
      >
        Ride with us on Monday May 27 for
        <span>Bike to Work Day</span>
        and celebrate Bike Month until the end of June
      </div>
    <div id="EveryRideCounts" class="orange chevron button" onclick="gPledge.click()">
      Take the Bike Month Pledge
      <span>Every Ride Counts</span>
    </div>
  </div>
</div>