<script id="PledgeContentTemplate" type="x-handlebars-template">
  <div class="content">
    <a id="PledgeToggleLanguageLink" href="#" onclick="gPledge.toggleLanguage()">Français</a>
    <iframe
      id="PledgeIframeContent"
      src="https://secure.gotransit.com/smartcommute/BikeToWorkEntry.aspx"
      frameborder="0"
      width="100%"
    >
      You can't take the pledge in this browser!  Try another one:<br />
      <a href="https://www.google.com/chrome">Chrome</a><br />
      <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>
    </iframe>
  </div>
</script>

<div id="Overlays">
  <div class="overlay" id="PledgeOverlay">
    <!-- don't load this until we are ready. -->
  </div>
  <div class="overlay" id="PledgeComingSoon">
    <div class="content">
      <h2>Coming May 1, take the Bike Month pledge!</h2>
      <p>
        Pledge to ride to school or work on Bike to Work Day,
        Monday May 27 and/or throughout June for a chance to
        <b>win one of three trips for two</b> courtesy of
        <a href="http://viarail.ca/">VIA Rail</a>
        (to Quebec City, Montreal or Ottawa)
        or a weekend getaway courtesy of
        <a href="http://welcomecyclists.ca/">Welcome Cyclists.</a>
        <i>Contest closes June 18.</i>
      </p>
    </div>
  </div>
  <div id="OverlayCloseButton" onclick="Overlays.hide()">
    Close
  </div>
</div>