<% if @partners.present? %>
  <div id="Partners" class="pane">
    <!-- partners for <%= @location_param %> -->
    <h2>
      <span class="hidden">Partners</span>
    </h2>
    <div class="partner_logos">
      <% @partners.each do |p| %>
        <div class="partner_logo" style="
          width: <%= p[:width] %>px;
          height: <%= p[:height] %>px;
        ">
          <%= link_to( image_tag(p[:imagePath]), "#{p[:link]}" ) %>
        </div>
      <% end %>
      <div class="clr"></div>
    </div>
  </div>
<% else %>
  <p>no partners</p>
<% end %>
