<% if @profiles.count > 0 %>
  <% @profiles.each do |p| %>
    <div class="profile hidden" data-profile-id="<%= p.id %>">
      <img class="portrait" src="<%= p.photo.url %>" alt="<%= p.name %>>" />
      <h3><%= p.name %></h3>
      <div class="about"><%= p.blurb %></div>
    </div>
  <% end %>
<% else %>
  Coming Soon
<% end %>