<div class="side pane" id="Profiles">
  <h2>Cyclist Profiles</h2>
  <div class="profiles">
    <!-- profiles.js.coffee -->
    <%= render :partial => 'shared/profiles' %>
  </div>
  <div class="coming_soon hidden">Coming Soon!</div>
</div>