<div id="SideNav" class="pane">
  <h2>Site Navigation</h2>
  <div class="inner">
    <div class="breadcrumb button" onclick ="window.location='/'">
      Bike Month Home
    </div>
    <div class="breadcrumb button" onclick ="window.location='/locations/<%= @location.slug %>'">
      <%= @location.name %> Home
    </div>
    <div class="sub">
      <div class="breadcrumb button" onclick="gPledge.click()">
        Bike Month Pledge
      </div>
      <div id="EventCalendarBreadcrumb" class="breadcrumb button" onclick="window.location='/events?location=<%= @location.slug %>'">
        Event Calendar
      </div>
      <div id="MapsPageBreadcrumb" class="breadcrumb button" onclick="window.location='/cycling_maps?location=<%= @location.slug %>'">
        Cycling Maps
      </div>
      <div id="ToolsPageBreadcrumb" class="breadcrumb button" onclick="window.location='/tools_and_resources?location=<%= @location.slug %>'">
        Tools and Resources
      </div>
      <div class="breadcrumb button hidden" onclick="window.location='/profiles?location=<%= @location.slug %>'">
        Cyclist Profiles
      </div>
    </div>
    <% ::Refinery::Page.where(:layout_template => 'layout-sidenav').order('lft').each do |page| %>
      <% if page.parent &&  page.parent.title == 'Side Nav'  %>

        <div class="breadcrumb button" onclick ="window.location='/side-nav/<%= page.slug %><%= "?location=#{@location.slug}" if @location && @location.slug.present? %>' ">
          <%= page.title %>
        </div>
      <% end %>
    <% end %>
    <!--

    let's leave this off the page for now

    <div class="breadcrumb">
      Other Municipalities
    </div>
    <div class="sub">
      <% @other_locations.each do |l| %>
        <div class="breadcrumb button">
          <%= l.name %>
        </div>
      <% end %>
    </div>
    -->
  </div>
</div>