<div id="TwitterFeed" class="pane">
  <h2>
    Twitter Feed
  </h2>
  <div class="tweets_container">
    <div class="tweets">
    </div>
  </div>
</div>

<script id="TweetTemplate" type="x-handlebars-template">
  <div class="tweet">
    <!-- 
    
    TODO: profile links?  Etc.
    
    -->
    <img src="{{user.profile_image_url}}" alt="{{user.screen_name}}" />
    <h3><a target="_blank" href="http://twitter.com/{{user.screen_name}}">@{{user.screen_name}}</a></h3>
    <p>{{{text}}}</p>
  </div>
</script>