<%
region_info = [
	{
		:name => 'Toronto',
		:brief => 'Toronto is super sweet, but it is not yet as bike friendly as we would like it to be.',
		:style => 'top:20px;left:20px',
		:region_name => 'toronto'
	},
	{
	    :name => 'Hamilton',
	    :brief => 'Hamilton is the waterfall capital of Ontario, and it has wicked bike trails.',
	    :style => 'top:300px;left:20px',
	    :region_name => 'hamilton'
	},
	{
		:name => 'Halton Region',
		:brief => 'Halton Region is awesome and hilly.',
		:style => 'top:200px;left:20px',
		:region_name => 'halton'
	},
	{
	    :name => 'Peel Region',
	    :brief => 'Peel Region is cool.',
	    :style => 'top:100px;left:20px',
	    :region_name => 'peel'
	},
	{
	    :name => 'York Region',
	    :brief => 'York Region is incredibly big.',
	    :style => 'top:20px;right:20px',
	    :region_name => 'york'
	},
	{
	    :name => 'Durham Region',
	    :brief => 'Durham Region is epic big and epic east.',
	    :style => 'top:300px;right:20px',
	    :region_name => 'durham'
	}
]

region_info.each do |r|
%>
<div style="<%= r[:style] %>" class="regionInfo hidden" data-region-name="<%= r[:region_name] %>">
	<span>Click to see events in</span>
	<h2><%= r[:name] %></h2>
	<p><%= r[:brief] %></p>
</div>
<%
end

###
# note the dash at the end here removes whitespace after the tag.
# Since rails requires closing tags I recommend the final closing tag in any 
# "partial" be a dash-closing tag.
###
-%>
