<div class="home_layout layout_2_column">

  <div class="columns">
    <div class="side column">
        <%= render :partial => 'shared/twitter_feed' %>
    </div>

    <div class="main column">
      <div class="pane" id="WhereDoYouRide">
        <h2>Where do you ride?</h2>
        <div class="map">
          <a class="toronto button" href="/toronto">Toronto</a>
          <a class="hamilton button" href="/hamilton">Hamilton</a>
          <a class="halton button" href="/halton">Halton</a>
          <a class="peel button" href="/peel">Peel</a>
          <a class="york button" href="/york">York</a>
          <a class="durham button" href="/durham">Durham</a>

          <a class="mississauga button" href="/mississauga">Mississauga</a>
        </div>
      </div>
    </div>
    
    <div class="clr"></div>
  </div>
  <%= render :partial => 'shared/partners_bar' %>
</div>
