<div class="layout_2_column">
  <div class="columns">
    <div class="main column">
      <div class="pane orange">
        <h2>Hello</h2>
        <div class="content">
          <div id="about_page_partners" class="loading">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>