<p>
  An even has been updated.  The following fields have changed
</p>
<ul>
  <% @fields.each do |field| %>
    <li><%= field %></li>
  <% end %>
</ul>
<p>
  Please visit the event at this URL to review the change:
</p>
<p>
  <%= @url %>
</p>
