<div id="CyclingMapsPage" class="layout_2_column">
  <div class="columns">
    <div class="main column">
      <div class="orange pane">

        <h2><%= @location.name %> Cycling Maps</h2>
        <%= raw @location.cyclist_map_blurb %>
      </div>
    </div>
    <div class="side column">
      <%= render :partial => 'shared/side_nav' %>
    </div>
    <div class="clr"></div>
  </div>
  <%= render :partial => 'shared/partners_bar' %>
</div>
<span id="BreadcrumbId" class="hidden" data-breadcrumb-id="MapsPageBreadcrumb"></span>