<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <header id="header">
      <%= render :partial => 'shared/header_bar_2' %>
    </header>
    <div id="page_container">
      <div id="page" class="w960">
        <div id="content" class="clearfix">
          <div id="flash_container">
            <%= render '/refinery/no_script' %>
            <%= render '/refinery/message' %>
          </div>
          <div>
          <%= render 'refinery/admin/menu' %>
          </div>
          <div class="page-container-inner-frame">
          <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
