<div class="layout_2_column">
  <div class="columns">
    <div class="main column">
      <div id="ToolsAndResources" class="orange pane">
        <h2>Tools and Resources</h2>
        <div class="content">
          <% if @location.tips_and_resources.present? %>
            <%=raw @location.tips_and_resources %>
          <% else %>
            <h3>Under Construction</h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class="side column">
      <%= render :partial => 'shared/side_nav' %>
    </div>
    <div class="clr"></div>
  </div>
  <%= render :partial => 'shared/partners_bar' %>
</div>
<span id="BreadcrumbId" class="hidden" data-breadcrumb-id="ToolsPageBreadcrumb"></span>