<div id="signup-message" class="hero-unit  page-header">
  <h1>You're two steps away!</h1>
  <p class="lead">Pop in your info and we'll send you an email to confirm you are a real person.</p>
  <p class="follow">Didn't get an confirmation email? Send us an email, and we'll get you fixed up!</p>
</div>


<%= simple_form_for(:user, :html => {:class => 'form-horizontal' },
                    :url => refinery.refinery_user_registration_path) do |f| %>

  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>


  <%= f.input :full_name, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' } %>

  <%= f.input :email, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' } %>

  <%= f.input :phone, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' },
              hint: "This is so that your admin can contact you if there are any questions about your event"
  %>

  <%= f.input :username, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' } %>

  <div class="span6 controls">
    <%= render '/refinery/admin/form_actions', :f => f,
               :submit_continue => false,
               :submit_button_text => t('sign_up', :scope => 'refinery.users.new'),
               :before_cancel_button => link_to('Cancel',
                                                refinery.refinery_user_session_path,
                                                :title => 'Cancel that, I changed my mind.',
                                                :id => "sign_up_button",
                                                :class => "close_dialog button btn btn-danger"),
               :hide_delete => true,
               :hide_cancel => true %>
  </div>

<% end -%>
