<%
url = "#{BikeMonth2013::Application.config.action_mailer.default_url_options[:host]}"
url += ":#{BikeMonth2013::Application.config.action_mailer.default_url_options[:port]}" if
        (BikeMonth2013::Application.config.action_mailer.default_url_options[:port].present?)
url += '/' unless url.end_with?('/')
url = "http://#{url}" unless url.start_with?('http://')
%>

window.App =
	baseUrl : '<%= "#{url}" %>'
	success : 'success'