<div id="password-picker-message" class="hero-unit  page-header">
  <h1>The Last Step!</h1>
  <p class="lead">You made it back! Pick a password and you're done. Next stop, event creation!</p>
</div>

<%= simple_form_for(resource, :html => {:class => 'form-horizontal' },
                    :as => resource_name,
                    :url => refinery.refinery_user_confirmation_path) do |f| %>
  <%= render '/refinery/admin/error_messages', :object => resource, :include_object_name => true %>

  <%= f.input :username, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' } %>

  <%= f.input :password, input_html: { class: 'span6' },
              wrapper_html: { class: 'field clearfix' }, :autocomplete => 'off' %>

  <%= f.input :password_confirmation, input_html: { class: 'span6' },
              wrapper_html: { class: 'field clearfix' }, :autocomplete => 'off' %>

  <%= f.hidden_field :confirmation_token  %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_continue => false,
             :submit_button_text => 'Confirm Account',
             :hide_delete => true,
             :hide_cancel => true %>
<% end -%>