<ul>
  <li>
    <%= link_to t('.create_new_user'),
                refinery.new_admin_user_path, :class => "add_icon" if @current_refinery_user.has_role?(:superuser) %>
    <%= link_to "Download User/Event Report",
                report_admin_users_path(:format => :csv), :class => "add_icon" if @current_refinery_user.has_role?(:superuser) %>
    <!--  if self.has_role?(:superuser)  -->
  </li>
</ul>
