<%= simple_form_for([refinery, :admin, @user], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

  <%= f.input :full_name, input_html: { class: 'span6' },
              wrapper_html: { class: 'field' }
  %>

  <%= f.input :username, input_html: { class: 'span4' },
              wrapper_html: { class: 'field' } %>

  <%= f.input :email, input_html: { class: 'span4' },
              wrapper_html: { class: 'field' } %>

  <%= f.input :phone, input_html: { class: 'span4' },
              wrapper_html: { class: 'field' } %>

  <% hint =  '' %>
  <% if @user.persisted? %>
    <% hint =  t('.blank_password_keeps_current') %>
  <% end %>
  <%= f.input :password, input_html: { class: 'span4' },
              wrapper_html: { class: 'field' }, :autocomplete => 'off',
              :hint => hint
  %>

  <%= f.input :password_confirmation, input_html: { class: 'span4' },
              wrapper_html: { class: 'field' }, :autocomplete => 'off'
  %>


  <% if current_refinery_user.has_role?(:superuser) %>
    <%= f.input :confirm_user, :as => :select, input_html: { class: 'span4' },
                wrapper_html: { class: 'field' } %>

    <div class='field plugin_access'>
      <span class='label_with_help'>
        <%= f.label :plugin_access, t('.plugin_access'), :class => "title_label" %>
        <%= link_to "(#{t('.enable_all')})", "", :id => "user_plugins_enable_all" %>
      </span>
      <ul id='plugins' class='checkboxes'>
        <% @available_plugins.each do |plugin| -%>
          <% if Refinery::Plugins.always_allowed.names.include?(plugin[:name]) or
                (plugin[:name] == 'refinery_users' and @user.id == current_refinery_user.id) %>
            <%= hidden_field_tag 'user[plugins][]', plugin[:name],
                                 :id => "plugins_#{plugin[:name]}" %>
          <% else %>
            <li>
              <%= check_box_tag 'user[plugins][]', plugin[:name],
                                @selected_plugin_names.include?(plugin[:name]),
                                :id => "plugins_#{plugin[:name]}" %>
              <%= f.label 'user[plugins][]',
                          t('title', :scope => "refinery.plugins.#{plugin[:name].downcase}", :default => plugin[:title]),
                          :class => "stripped",
                          :for => "plugins_#{plugin[:name]}" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <% if current_refinery_user.has_role?(:superuser) and Refinery::Authentication.superuser_can_assign_roles %>
    <div class='field role_access'>
      <span class='label_with_help'>
        <%= f.label :role_access, t('.role_access'), :class => "title_label" %>
      </span>
      <ul id='roles' class='checkboxes'>
        <% @available_roles.each do |role|
          downcased_title = (title = role[:title]).downcase -%>
          <li>
            <%= check_box_tag 'user[roles][]', downcased_title, @user.has_role?(title),
                              :id => "roles_#{downcased_title}" %>
            <%= f.label 'user[roles][]',
                        t(downcased_title, :scope => 'refinery.roles', :default => title),
                        :class => 'stripped',
                        :for => "roles_#{downcased_title}" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :hide_delete => !current_refinery_user.can_delete?(@user),
             :delete_title => t('delete', :scope => 'refinery.admin.users'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @user.username) %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $('#user_plugins_enable_all').click(function(e, a) {
        $('div.field.plugin_access ul#plugins li input:checkbox').attr('checked', true);
        e.preventDefault();
      });
    });
  </script>
<% end %>
