<li id="sortable_<%= user.id %>" class='clearfix record <%= cycle("on", "on-hover") %>'>
  <% pending = true if !user.confirmed? %>
  <% if pending %>
    <span class="label label-important">Unconfirmed</span>
  <% end %>
  <span class='title'>
    <strong><%= user.full_name %></strong>
    <span class="preview">
      <%= t('.preview', :who => user.email, :created_at => l(user.created_at, :format => :short)) %>
    </span>
  </span>
  <span class='actions'>
    <%= mail_to user.email, refinery_icon_tag('email_go.png'),
                :title => t('.email_user') %>
    <%= link_to refinery_icon_tag('application_edit.png'),
                refinery.edit_admin_user_path(user),
                :title => t('edit', :scope => 'refinery.admin.users') if current_refinery_user.can_edit?(user) %>
    <%= link_to refinery_icon_tag('delete.png'),
                refinery.admin_user_path(user),
                :class => "cancel confirm-delete",
                :title => t('delete', :scope => 'refinery.admin.users'),
                :method => :delete,
                :data => {
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => user.username)
                } if current_refinery_user.can_delete?(user) %>
  </span>
</li>
