<div id="PageFooter" class="footer_2">

  <!--
  <a href="/about" class="l">
    About
  </a>
  -->
  <a href="mailto:info@bikemonth2013.ca" class="l">
    Contact
  </a>
  <a href="http://twitter.com/bikemonth2013" class="l">
    Twitter
  </a>
  <a href="http://facebook.com/bikemonth2013" class="l">
    Facebook
  </a>
  <% ::Refinery::Page.where(:layout_template => 'layout-sidenav').order('lft').each do |page| %>
    <% if page.parent &&  page.parent.title == 'Footer'  %>
      <a href="/footer/<%= page.slug %><%= "?location=#{@location.slug}" if @location && @location.slug.present? %>" class="l">
        <%= page.title %>
      </a>
    <% end %>
  <% end %>

  <div class="r">
    <%= t('.copyright', :year => Time.now.year,
          :site_name => Refinery::Core.site_name) %>
  </div>
  <div class="clr"></div>
</div>
