<h1 id='logo'>
  <%= link_to refinery.root_path, :class => 'poop' do %>
    Bike Month <span>2013</span>
  <% end %>
</h1>
<h1 id="tagline">
  Every Ride Counts
</h1>
<%=
    render(
		:partial => "/refinery/menu", :locals => {
            :dom_id => 'menu',
            :css => 'menu'
		}
    )
%>
