<div id="Menu">
  <div class="item" data-href="/">Home</div>
  <div class="item" data-href="/about">About</div>
  <div class="dropDown">
    Ride
    <div class="submenu">
      <div class="item" data-href="/durham">Durham</div>
      <div class="item" data-href="/halton">Halton</div>
      <div class="item" data-href="/hamilton">Hamilton</div>
      <div class="item" data-href="/peel">Peel</div>
      <div class="item" data-href="/toronto">Toronto</div>
      <div class="item" data-href="/york">York</div>
    </div>
  </div>

  <%= render :partial => 'shared/child_locations_dropdown' %>

  <div class="clr"></div>
</div>