<% flash.each do |key, value| %>
  <%
  #Mapping from refinery's useless flash messages to bootstap's useful alerts.

     case key
       when :message
        boot_key = 'alert-success'
       when :notice
         boot_key = 'alert-info'
       when :alert, :error
         boot_key = 'alert-error'
       else
         boot_key = ''
     end

  %>
<div id='flash' class="alert <%= boot_key %>" style='visibility: hidden;' >
  <%= value %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% end %>
