<% if refinery_user? && "#{controller_name}##{action_name}" != 'pages#preview' %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] or local_assigns[:exclude_css] %>
  <% end -%>
  <% if current_refinery_user && current_refinery_user.has_role?(:superuser) %>
  <div id='site_bar'>
    <div id='site_bar_content' class='clearfix'>
      <div id='editor_switch'>
        <%= site_bar_switch_link -%>
      </div>

      <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= Refinery::Core.site_name %>
        </span>

        <%= link_to t('.log_out', site_bar_translate_locale_args),
                    refinery.destroy_refinery_user_session_path, :id => 'logout' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
