@import "colors.css.sass"

.pane

  table.about_sponsors
    margin: 32px
    thead
      font-weight: bold
      td
        padding: 0 20px
    tbody
      td
        text-align: center

  div.about_sponsors
    margin: 32px
    h3
      font-size: 1.0em
      color: $dark_gray
      margin-bottom: 8px
    a
      display: block
      float: left
      margin: 6px 12px
      
#about_page_partners
  
  .partner
    display: block
    float: left
    width: 200px
    margin: 0 20px 20px 0
    
    img
      position: relative