/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require application
 *= require basic_layout
 *= require bootstrap_and_overrides
 *= require buttons
 *= require calendar
 *= require city
 *= require colors
 *= require events
 *= require footer_2
 *= require header_bar_2
 *= require home
 *= require layout2
 *= require layout_2_column
 *= require locations
 *= require menu
 *= require mid_buttons
 *= require municipal_page
 *= require overlay_buttons
 *= require overlays
 *= require panes
 *= require partners_bar
 *= require pledge
 *= require profiles
 *= require side_nav
 *= require tips
 *= require twitter_feed
 *= require refinery/site_bar
 *= require jquery.ui.all
 *= require /jquery-ui-timepicker-addon
 *= require about_page
 */

@import "colors.css.sass";

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
	font: {
		family: "Helvetica Neue", Helvetica, sans-serif;
	}
  color:  $dark_gray;
}

body {
  background-color: $lightest_gray
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}
#page_container {
	position: relative;
}
.w960 {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.pageContent {
	width: 960px;
}
#logo {
	text-transform: uppercase;
 	color: $orange;
	font-weight: 400;
 	span {
		color: $dark_gray;
  	}
}
#tagline {
	font-style: italic;
	font-weight: 400;
	position: absolute;
	right: 0;
	top: 0;
}
#menu {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: block;
			float: left;
			padding: 5px 15px;
		}
		li.clr {
			float: none;
			padding: 0;
		}
	}
}
.clr {
	clear: both;
}
.hidden {
	display: none;
}
header, section, footer {
	margin: 32px 0;
}

header {
  margin-top: 0;
}

footer {
  margin-bottom: 0;
}

.box {
	position: absolute;
	overflow: hidden;
	&.left {
		left:0;
		height: 300px;
		width: 240px;
	}
	&.bottom {
		bottom: 0;
		background-color: #204559;
	}
	&.main {
		top: 0;
		right: 0;
		height: 600px;
		width: 720px;
		overflow-y: scroll;
	}
}

.content {
	padding: 20px;
}

.nav_locations {
	display: none;
	background-color: #fed;
	a {
		display: block;
	}
}
.parent_location {
	background-color: #fed;
}

.author {
  font-style: italic;
  color: $light_gray;
}