@import "colors.css.sass"

.basic_layout

  margin: 32px 16px
  padding: 0 16px

  border: 1px solid $lightest_gray
  box-shadow: 3px 3px 3px $shadow_color
  background-color: rgba(255,255,255,.85)

  h1
    font-size: 2.0em
    color: $orange
    text-shadow: 1px 1px 1px $shadow_color
    font-weight: 500
    margin: 24px 0

  p
    font-size: 1.2em
    line-height: 1.6em
    color: $dark_gray
    margin: 24px 4px

  ul
    margin: 24px 0

  li
    margin: 10px 0
    line-height: 1.5em