@import "colors.css.sass"

.button

  cursor: pointer

  &.gray_orange
    background-color: $dark_gray
    &:hover
      background-color: $orange

  &.orange_gray
    background-color: $orange
    &:hover
      background-color: $dark_gray

  &.gray_teal
    background-color: $dark_gray
    &:hover
      background-color: $teal

  &.teal_gray
    background-color: $teal
    &:hover
      background-color: $dark_gray


  &.orange
    cursor: pointer
    padding: 16px 14px
    background-color: $dark_gray
    color: $lightest_gray
    font-weight: 100
    box-shadow: 3px 3px 3px $shadow_color

    &:hover
      background-color: $orange

    &.chevron
      background: $dark_gray url('orange_chevron.png') no-repeat 10px center
      padding: 16px 14px 16px 54px

      &:hover
        background: $orange url('orange_chevron.png') no-repeat 10px center

    &:active
      box-shadow: inset 3px 3px 3px $shadow_color
