@import "colors.css.sass"

#SideCalendar
  .calendar_filter
    padding: 20px

  &.fixed
    position: fixed
    width: 250px
    top: 206px
    z-index: 2

  h2
    color: $lightest_gray

.calendar
  margin-top: 10px
  font-size: 0.8em
  position: relative

  .title
    width: 200px
    margin: 0 auto
    text-align: center
    font-weight: bold
    padding-bottom: 3px

  .prev, .next
    position: absolute
    top: 0
    cursor: pointer
    &:hover
      font-weight: bold

  .prev
    left: 0

  .next
    right: 0

.month
  width: 100%

  .week
    width: 100%
    .day
      width: 14%
      float: left
      height: 20px
      &.with_events
        background-color: $teal
        color: $lightest_gray
        &:hover
          background-color: $dark_teal

    &.header
      cursor: inherit

    cursor: pointer