@import "colors.css.sass"

.events.pane
  position: relative

  .add_event
    position: absolute
    color: $lightest_gray
    top: 0
    right: 16px
    display: block
    height: 45px
    line-height: 45px

  #EventsHeader
    color: $lightest_gray

  h2
    background-color: $orange

    &.fixed
      position: fixed
      top: 0
      width: 618px

.date_filter.pane
  h2
    background-color: $teal

.light .events_list
  .event_types, .subregions
    .event_type, .subregion
      background-color: $lightest_gray

  .event
    &.odd
      background-color: $lightest_gray
    &.even
      background-color: $lighter_gray


.events_list

  padding: 20px

  .event_types, .subregions

    margin-bottom: 24px

    .event_type, .subregion
      float: left
      padding: 18px 0 4px 10px
      width: 137px
      background-color: $dark_gray_2
      margin: 2px
      font-size: 0.75em
      &:hover, &.selected
        background-color: $orange

  h3
    font-style: italic

  .day
    margin-bottom: 16px

  &.all .event,
  &.artfilm .artfilm,
  &.clinicworkshop .clinicworkshop,
  &.festivalspecialevent .festivalspecialevent,
  &.partysocial .partysocial,
  &.presentationlecture .presentationlecture,
  &.race .race,
  &.ride .ride
    display: block

  .event
    display: none

    margin: 2px
    padding: 6px

    &.odd
      background-color: $dark_gray_2
    &.even
      background-color: $dark_gray_3

    &:hover
      &.even, &.odd
        background-color: $orange
        color: $lightest_gray
        .when_where
          color: $lightest_gray

    .when_where
      color: $orange
      font-weight: 600
      float: right
      font-family: "Arial Narrow"

#SingleEventOrCyclist
  a
    text-decoration: underline

  dl
    content: "  "
    display: block
    //line-height: 0
    clear: both
    margin-bottom: 20px

  dt
    clear: left
    float: left
    //overflow: hidden
    text-align: right
    text-overflow: ellipsis
    white-space: nowrap
    width: 160px
    font-weight: bold
    line-height: 20px
    display: block
    font-size: 14px
    padding-right: 20px
    padding-bottom: 5px

  dd
    margin-left: 180px
    line-height: 20px
    display: block
    font-size: 14px
    margin-left: 10px
    padding: 0px
    padding-bottom: 5px

  .summary
    @extend dl
    font-size: 1.5em
    font-weight: bold
    padding: 20px
    color: $orange

  .map
    padding-left: 100px

  div#EventDescription
    padding: 20px

  div#CyclistDescription
    padding: 20px 20px 20px 100px

  div#CyclistDescription p
    font-size: 0.75em

  #EventOrCyclistImage img
    border: 1px solid $light_gray
    display: block
    margin: 0 auto


  .EventDescription.font
    color: $dark_gray
    background-color: $lightest_gray
    padding: 8px

  div#EventDescription h1
    @extend .EventDescription.font
    font-size: 18px

  div#EventDescription h2
    @extend .EventDescription.font
    font-size: 16px

  div#EventDescription h3
    @extend .EventDescription.font
    font-size: 14px

  div#EventDescription p
    @extend .EventDescription.font
    font-size: 12px


#EventSideBar
  &.fixed
    position: fixed
    width: 250px

  div
    padding: 20px

  .eventsideimage
    display: block
    margin: 0 auto
    width: 200px
    border: 1px solid $dark_gray

  .location_details
    font-size: 14px
    font-weight: bold
    padding-left: 10px

  .intersection
    @extend .location_details
    font-size: 0.8em
    font-weight: normal
