@import "colors.css.sass"

.footer_2
  background: transparent url('footer_bg.jpg') repeat-x
  height: 75px
  color: $lightest_gray

  a:hover
    color: $lighter_gray

  .l, .r
    padding: 28px 25px
    display: block

  .l
    float: left

  .r
    float: right

  &.fixed
    position: fixed
    bottom: 0