@import "colors.css.sass"

$logo_width: 291px
$x2: $logo_width + 65px

.light .header_bar_2 #RideWithUs
  // moved button stuff to buttons.css.sass
  background-color: $lightest_gray
  color: $dark_gray
  &:hover
    background-color: $orange
    color: $lightest_gray
    span
      color: $lightest_gray

.header_bar_2

  background: white  // url('header_bar_bg.jpg') repeat-x 0 0
  border-bottom: 1px solid $dark_gray
  box-shadow: 0 3px 3px $shadow_color

  overflow: hidden

  .w960
    height: 90px
    padding: 4px 0

  .logo, #RideWithUs, #EveryRideCounts, #Menu
    position: absolute

  .logo
    width: $logo_width
    height: 80px
    background: transparent url('bike_month_logo_80h.png') no-repeat 0 0
    top: 8px

  #RideWithUs
    // moved button stuff to buttons.css.sass
    left: 192px
    top: 10px
    width: 440px
    font-size: 1.1em
    line-height: 1.3em
    //&.nohover
    //  cursor: inherit
    //  &:hover
    //    background-color: $lightest_gray
    //    color: $dark_gray
    //    span
    //      color: $orange

    span
      color: $orange
    &:hover span
      color: $lightest_gray

  #Menu
    left: $x2
    bottom: 14px

  #EveryRideCounts
    background-color: $teal
    &:hover
      background-color: $dark_gray
    font-style: italic
    top: 10px
    right: 0
    text-align: right
    font-size: 1.1em
    line-height: 1.3em
    width: 150px
    span
      font-size: 0.6em
      cursor: pointer