@import "colors.css.sass"

.home_layout

  $main_height: 350px

  .columns > .column
    height: $main_height

  .main

    h2
      background-color: $orange
      color: $lightest_gray
      padding: 8px 16px

    .map
      position: relative
      background: transparent url('map_bg_light_2.jpg') 0 0 no-repeat
      width: 650px
      height: 305px

      .button

        &.toronto
          top: 167px
          left: 282px

        &.hamilton
          top: 220px
          left: 40px

        &.halton
          top: 173px
          left: 134px

        &.peel
          top: 49px
          left: 217px

        &.york
          top: 90px
          left: 320px

        &.durham
          top: 188px
          left: 441px

        &.mississauga
          top: 128px
          left: 192px
          font-size: 0.8em

        position: absolute
        background: $lightest_gray url('region_button_bg.png') no-repeat 4px center
        padding: 2px 7px 3px 30px
        font-size: 1.0em
        cursor: pointer
        box-shadow: 3px 3px 3px $shadow_color

        &:hover
          color: $orange

        &:active
          box-shadow: inset 3px 3px 3px $shadow_color
