@import "colors.css.sass"

$side_width: 250px
$main_width: 650px

.layout_2_column

  width: 960px
  margin: 48px auto 0
  position: relative

  .columns > .column

    &.side
      float: right
      width: $side_width

    &.main
      float: left
      width: $main_width
