.l2 {

  $fullWidth: 960px;

  $sidebarWidth: 240px;

  $mainHeight: 450px;

  $bottomBannerHeight: 200px;

  $generalPadding: 20px;

  $fullHeight: $mainHeight + $bottomBannerHeight + $generalPadding;

  // outer layout
  width: $fullWidth;
  height: $fullHeight;
  position: relative;

  // defaults for immediate children
  > div {
    position: absolute;
    top: 0;
    height: $mainHeight;
    overflow: hidden;
  }

  // left column, to be used for bike profiles
  .left {
    left: 0;
    width: $sidebarWidth;
  }

  .right {
    right: 0;
    width: $sidebarWidth;
  }

  .center {

    $centerWidth: $fullWidth - 2 * $sidebarWidth;

    left: $sidebarWidth;
    width: $centerWidth;

    // mid frame divs
    > div {

      $midFrameWidth: .5 * $centerWidth - 3 * $generalPadding;
      $midFrameHeight: .5 * $mainHeight - 3 * $generalPadding;

      position: absolute;
      width: $midFrameWidth;
      height: $midFrameHeight;
      overflow: hidden;

      .overlay {
        width: $midFrameWidth;
        height: $midFrameHeight;
      }

      h2 {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    $outerPadding: 2 * $generalPadding;

    .top {top: $outerPadding}
    .left {left: $outerPadding}
    .right {right: $outerPadding}
    .bottom {bottom: $outerPadding}
  }

  .bottom.banner {
    top: $mainHeight + $generalPadding;
    height: $bottomBannerHeight;
    width: $fullWidth;
    background-color: #ddd;
  }

  #Pledge {
    background: transparent url('pledge_bg.jpg') no-repeat;
  }

  #TipsAndResources {
    background: transparent url('tips_resources.jpg') no-repeat;
  }

  #CyclingMap {
    background: transparent url('cycling_map.jpg') no-repeat;
  }

  .dandyhorse_header {
    background: transparent url('dandyhorse_header.png') no-repeat;
    height: 51px;
  }
}