@import "colors.css.sass"

$column_width: 220px
$mid_width: 460px

$main_height: 350px

.locations_layout

  .location_header
    padding: 10px 20px
    background-color: $orange
    margin-bottom: 32px

    h1
      color: $lightest_gray
      text-shadow: 2px 2px 2px $shadow_color
      font-size: 2.4em
      width: inherit
      float: left
      span
        font-size: 0.35em
        vertical-align: middle

    .post_event
      float: right
      margin-top: 18px
      color: $lightest_gray

    .locations
      float: left
      margin: 13px 0 0 10px
      a
        color: $lightest_gray
        display: block
        float: left
        padding: 5px 20px


  width: 960px
  margin: 48px auto 0
  position: relative

  .columns
    height: $main_height
    position: relative

    > .column
      position: absolute
      height: $main_height
      top: 0

    > .left
      left: 0
      width: $column_width

    > .right
      right: 0
      width: $column_width

    > .mid
      left: 480px - .5 * $mid_width
      width: $mid_width
