@import "colors.css.sass";

#Menu {
  >.item, >.dropDown {
    cursor: pointer;
    display: block;
    padding: 2px 10px;
    font-size: 1.3em;
    float: left;
    position: relative;
    &:hover {
      background-color: $lightest_gray;
      border-radius: 3px;
    }
  }

  .dropDown {
    padding-right: 15px;
    background: transparent url('drop_down_triangle.png') right no-repeat;
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.1);
    border: 1px solid #ddd;
    .item {
      padding: 6px 12px;
      &:hover {
        background-color: #eee;
      }
    }
  }
}