@import "locations.css.sass"

.mid_buttons

  $mid_button_padding: 10px

  > .pane
    position: absolute
    width: .5 * $mid_width - 3 * $mid_button_padding
    height: .5 * $main_height - 3 * $mid_button_padding
    padding: $mid_button_padding

    &.mid.button h2
      color: $lightest_gray

    h2
      position: absolute
      border: none
      bottom: 0
      left: 0
      font-weight: 100
      font-size: 1.0em


    &.top
      top: 0
    &.left
      left: 0
    &.right
      right: 0
    &.bottom
      bottom: 0

  $imgLeft: 62px
  $imgTop: 20px
  #EventCalendar
    background: $orange url('event_calendar_icon-01.png') no-repeat $imgLeft $imgTop
    &:hover
      background-color: $dark_gray

  #Pledge
    background: $purple url('pledge_icon-01.png') no-repeat $imgLeft $imgTop
    &:hover
      background-color: $dark_gray

  #CyclingMap
    background: $teal url('cycle_map_icon-01.png') no-repeat $imgLeft $imgTop
    &:hover
      background-color: $dark_gray

  #TipsAndResources
    background: $green url('tips_resources_icon-01.png') no-repeat $imgLeft $imgTop
    &:hover
      background-color: $dark_gray
