@import "layout_2_column.css.sass"

.municipal_page

  #Profiles
    margin-bottom: 32px
    height: 350px

    .overlay
      width: 250px

  .main .pane

    h1
      background-color: $light_gray
      color: $lightest_gray
      padding: 120px 0 10px 20px
      font-size: 2.4em
      text-shadow: 2px 2px 2px rgba(0,0,0,.5)

      &.toronto
        background: transparent url('toronto.jpg')

    h2
      margin: 0 20px

    p
      margin: 8px 20px 24px 20px

    .events
      margin: 20px 60px
      padding: 10px 20px
      border: 1px solid $light_gray
      box-shadow: 3px 3px 3px $shadow_color

    a
      display: block
      width: inherit
      color: $teal
      text-decoration: underline
      font-size: 1.4em
      cursor: pointer

      &:hover
        color: $light_teal

    .left, .right
      width: 75%
      background-color: lightgoldenrodyellow
      margin: 20px
      padding: 20px
      box-shadow: 3px 3px 3px $shadow_color

    .left
      float: left

    .right
      float: right
