@import "colors.css.sass"

#Overlays

  display: none

  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow-y: scroll
  background-color: $overlay_background_color

  .overlay
    display: none
    background: transparent url('overlay_border_pattern.png') repeat
    padding: 32px
    margin: 64px auto

    a
      color: $teal
      &:hover
        color: $light_teal

    .content
      background-color: white
      padding: 32px

#OverlayCloseButton
  display: none
  padding: 5px 10px
  font-size: 1.4em
  font-weight: bold
  background-color: $dark_gray
  &:hover
    background-color: $gray
  border: 1px solid $lightest_gray
  color: $lighter_gray
  position: fixed
  bottom: 40px
  left: 40px
  z-index: 101
  cursor: pointer