@import "colors.css.sass"

.overlayButton

  cursor: pointer
  border: 2px solid $dark_gray

  .overlay
    position: absolute
    top: -100px
    background: transparent url('quad_button_overlay.png') no-repeat