@import "colors.css.sass"


.light .pane

  background-color: white
  color: $dark_gray

  h2
    color: $dark_gray

  h3
    color: $teal

  p
    color: $dark_gray

.pane

  background-color: $dark_gray
  color: $lightest_gray
  box-shadow: 3px 3px 3px $shadow_color
  overflow: hidden

  > .content
    padding: 20px

  h2
    border-bottom: 1px solid $lightest_gray
    padding: 8px 16px

  h1, h2, h3, p
    color: $lightest_gray

  p
    padding: 20px

  a:hover
    color: $teal

  &.orange h2
    color: $lightest_gray
    background-color: $orange

  &.teal h2
    color: $lightest_gray
    background-color: $teal

#CyclingMapsPage .pane h3
  padding: 0 20px