@import "colors.css.sass"

$bottom_bar_height: 65px

#Partners
  position: relative
  width: 960px
  margin-top: 48px
  height: $bottom_bar_height
  background-color: white

  h2
    position: absolute
    top: 0
    left: 0
    padding: 0
    height: $bottom_bar_height
    width: 30px
    background: $purple url('partners_header_rotated_55.png') 0 center no-repeat

  .partner_logos
    margin-left: 30px
    width: 930px
    height: $bottom_bar_height
    position: relative
    overflow: hidden
    .partner_logo
      position: absolute