#PledgeOverlay
  width: 840px
  height: 600px
  padding: 0

  iframe
    width: 800px
    height: 500px

#PledgeComingSoon
  width: 800px
  background-color: white
  h2
    font-size: 1.8em
    margin-bottom: 1.2em
  p
    font-size: 1.3em
    line-height: 1.5em