@import "locations.css.sass"

#Profiles
  h2
    background-color: $orange
    color: $lightest_gray

  .profiles
    padding: 20px

#Profiles.side

  position: relative
  height: $main_height

  background-color: $dark_gray

  .coming_soon
    position: absolute
    width: 300px
    top: 169px
    left: 20px
    font-size: 1.3em
    color: $lightest_gray
    font-style: italic

  h2
    background-color: $dark_gray
    color: $lightest_gray

  .profiles
    position: absolute
    top: 46px
    width: 220px
    height: 304px
    overflow: hidden
    padding: 0

  .profile
    $profile_text_padding: 10px
    cursor: pointer
    position: absolute
    width: 220px
    height: 304px

    h3, p
      color: $lightest_gray
      text-shadow: 2px 2px 2px black
      position: absolute
      left: $profile_text_padding
      z-index: 2
    h3
      top: $profile_text_padding
    p
      bottom: $profile_text_padding
      width: $column_width - 2 * $profile_text_padding

    .portrait
      width: $column_width
      position: absolute
      top: 0
      left: 0