@import "colors.css.sass";

label, .label_with_help {
	margin-top: 0px;
}

.form-actions {
	height: auto  !important;
	width: auto  !important;
}

#page_container {
	border: 1px solid $dark_gray;
}

* {
	color: $dark_gray;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 100%;
}

#RideWithUs {
  background-color: $lightest_gray;
  color: $dark_gray;
  font-size: 17.6px !important;
  left: 192px;
  top: 10px;
  width: 440px;
  font-size: 1.1em;
  line-height: 1.3em;
  height: auto;
}
#RideWithUs span{
  color: $orange;
}

#EveryRideCounts {
  font-style: italic !important;
  top: 10px !important;
  right: 0 !important;
  text-align: right !important;
  font-size: 1.1em !important;
  line-height: 1.3em !important;
  width: 150px !important;
  height: auto;
}

#EveryRideCounts span {
  font-size: 0.6em;
  cursor: pointer;
}

body {
	background: $lightest_gray;
}

header {
	width: auto;
}

header .button {
	border-radius: 0px 0px 0px 0px;
}

#menu a a.inactive {
	background: $teal;
	display: block;
	font-size: 13px;
	font-weight: normal;
	margin-right: 2px;
	position: relative;
}

#menu a.active, #menu a:hover, #menu a:focus {
	background-color: $orange;
	color: #ffffff;
}


#menu-override {
	overflow: hidden;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*float: left;*/
	list-style: none outside none;
}

#menu-override.ui-sortable-disabled a {
	cursor: pointer;
}
#menu-override a {
	background: $teal;
	display: block;
	font-size: 13px;
	font-weight: normal;
	margin-right: 2px;
	position: relative;
	color: white;
	float: left;
	margin-top: 4px;
	padding: 9px 13px;
	border-radius: 6px 6px 6px 6px;
}

#menu-override a.active, #menu-override a:hover, #menu-override a:focus {
	background-color:  $orange;
	color: $lightest_gray;
}

/*element.style {*/
/*border-top-left-radius: 5px;*/
/*border-top-right-radius: 5px;*/
/*float: left;*/
/*list-style: none outside none;*/
/*}*/

#menu-override a.active {
	margin-top: 0;
	padding: 11px 13px;
}
#menu-override.ui-sortable-disabled a {
	cursor: pointer;
}

.page-container-inner-frame {
	padding: 20px 7px;
}

.pagination {
  background-color: $dark_gray;
}

div.pagination a {
  color: $lightest_gray;
}

div.pagination em.current {
  background-color: $orange;
}

aside#actions ul li a.add_icon {
  background-color: $dark_gray;
  border-color: $lightest_gray;
  color: $lightest_gray;
}

#blurb, a#blurb, ul#page_parts, ul#page_parts_controls, #page-tabs {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: #ffffff;
  background-image: none;
}

div.ui-dialog div.ui-dialog-titlebar, div + iframe#dialog_iframe {
  padding: 0px;
  border-radius: 0px;
}

div#editor_dialog.editor_dialog {
  padding: 0px;
  overflow: visible;
}

#google_map_image {
  border: 1px solid $light_gray;
  position: relative;
}

input#submit_button, a#sign_up_button, .button, a.close_dialog {
  background-color: #006DCC;
  height: 27px;
  line-height: 30px;
}

#content div a#sign_up_button.button {
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
  padding-bottom: 3px;

}

div.form-actions {
  background-color: white;
  border: none;
}

#login-message h1, #signup-message h1, #password-picker-message h1{
  color: $lightest_gray;
  border-bottom: none;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 0px;
  text-align: left;
}

#login-message p, #signup-message p, #password-picker-message p{
  color: $lightest_gray;
}

#login-message.hero-unit, #signup-message.hero-unit, #password-picker-message.hero-unit {
  background-color: $orange;
}

#login-message .follow, #signup-message .follow, #password-picker-message .follow {
  color: $dark_gray;
}
