@import "colors.css.sass"

#SideNav

  margin-bottom: 32px

  .inner
    padding: 20px

  h2
    background-color: $teal
    color: $lightest_gray

  .breadcrumb
    padding: 3px
    &.button:hover
      background-color: $teal
    &.selected
      font-weight: bold

  .sub .breadcrumb
    padding-left: 24px
    font-size: 0.8em

  &.fixed
    position: fixed
    width: 250px
    top: 0
    z-index: 2