@import "colors.css.sass"

#TwitterFeed

  position: relative
  height: 350px

  background: $teal

  .tweets_container
    overflow: hidden

  h2
    padding: 8px 16px 8px 57px
    background: $teal url('twitter_icon_white.png') 5px center no-repeat
    color: $lightest_gray
    width: 100%
    &.absolute
      position: absolute
      top: 0

  .tweets
    margin-top: 4px
    padding: 0 8px 8px 8px
    color: $lightest_gray
    background-color: $teal

  .tweet
    position: relative
    overflow: hidden
    height: 151px
    // box-shadow: 1px 1px 6px rgba(0,0,0,0.4)
    img, h3, p
      position: absolute

    h3
      color: $lightest_gray
      left: 48px
      line-height: 48px
      padding-left: 4px
      white-space: nowrap
      font-style: italic
      font-size: 1.0em
      a:hover
        color: $light_gray

    p
      border-top: none // 1px solid #eee
      color: $lightest_gray
      top: 48px
      font-size: 0.75em
      padding: 4px
      a
        color: $lightest_teal
