<p>Welcome <%= @resource.full_name %> to Bike Month 2013!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account',
               refinery.refinery_user_confirmation_url(
                                                       :confirmation_token => @resource.confirmation_token
               ) %></p>

<p>See you soon!</p>
<p>The Bike Month 2013 team</p>

