<div id="login-message" class="hero-unit  page-header">
<h1>Just a pedal away!</h1>
<p class="follow">To help reduce invalid events and clutter you need to be signed in to create an event.
  As an added bonus, you won't need to enter your contact info again when creating your events and you
  come back later to edit them.
</p>
<p class="lead">Don't have login? We got your back!  Click the sign up button and you'll be on your way.</p>
</div>

<%= simple_form_for(resource, :html => {:class => 'form-horizontal' },
                    :as => resource_name,
                    :url => refinery.refinery_user_session_path) do |f| %>
  <%= f.input :login, input_html: { class: 'span6' },
              wrapper_html: { class: 'field session_username clearfix' } %>

  <%= f.input :password, input_html: { class: 'span6', :autocomplete => 'off' },
              wrapper_html: { class: 'field session_password clearfix' } %>

  <ul class="thumbnails">
    <li class="span4">
      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, :as => :boolean,
                    wrapper_html: { class: 'field remember_me clearfix' } %>
      <% end %>
    </li>
    <li class="span4">
      <%= link_to t('.forgot_password'), refinery.new_refinery_user_password_path %>
    </li>
  </ul>

  <div class="span6 controls">
  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_button_text => t('.sign_in'),
             :before_cancel_button => link_to(t('sign_up', :scope => 'refinery.users.new'),
                                              refinery.new_refinery_user_registration_path,
                                              :title => t('sign_up', :scope => 'refinery.users.new'),
                                              :id => "sign_up_button",
                                              :class => "close_dialog button btn btn-danger"),
             :hide_cancel => true %>
  </div>
<% end -%>
