<div class="basic_layout">
  <h1>Tips and Resources</h1>
  <p>
    This is where some tips and resources will be described.
    This page should be editable via refinery.
    Let's add some more content to this paragraph
    so that it wraps onto multiple lines.
    That way, we can get a better idea of the layout.
  </p>

  <p>
    Another paragraph will help in this manner further.
    How do paragraphs interact?
  </p>

  <h2>Commuting by Bike</h2>
  <span class="author">by <a href="http://zenhabits.net/6-tips-for-commuting-to-work-by-bike/">Leo Babauta</a></span>
  <ul>
    <li>
      <b>Plan ahead.</b>
      One of the reasons people don’t commute by bike, even if they have a bike,
      is that they don’t want to be sweaty. I’m lucky, as my work just installed a new shower,
      but before that I planned to use the shower of an office next door, or use the shower
      at a nearby gym (even becoming a member at a gym is cheaper than gas). You’ll also
      need soap and deodorant and a towel and other toiletries.
      Then there’s the issue of how to get your clothes to work, which is my next tip.
    </li>
    <li>
      <b>Drop your clothes to work ahead of time.</b>
      You could pack them in a backpack, to wear on your back,
      but it gets your back sweaty. You could also put it in a pannier
      and carry it on a rack, which is a good option, but you might not
      want your clothes wrinkly for some reason. The solution I’ve been
      using (and it’s not an original idea) is to bring my clothes to
      work the day before. This also saves some extra pounds that I have
      to carry on my bike, which is an issue for a beginner like me. You
      could even bring in clothes for the rest of the week. Eventually,
      if I ride to work five days a week, I might have to drop a week’s
      worth of clothes sometime in the weekend.
    </li>
    <li>
      <b>Any ol’ bike will do.</b>
      You don’t need a fancy racing bike or touring bike or anything to commute.
      If you’ve got an old mountain bike, which I do, that’s good enough. You don’t
      need to spend a lot of money on a bike and gear to get started. Later, you can
      always spend more, a little at a time, but whatever you’ve got is good enough for now.
    </li>
    <li>
      <b>Have a spare tube and tools, and know how to change a tire.</b>
      You never know if you’ll get a flat, and you don’t want to be stuck
      walking your bike for several miles. A patch kit is good, but it’s
      even easier if you just have a spare tube, a pump, and the right tools
      so that you can quickly change the punctured tube for a new one, and
      patch the old one later at home.
    </li>
    <li>
      <b>Be safe.</b>
      This is a no-brainer, but it is good to read up on tips on cycling safety
      (see links below) before heading out into dangerous traffic.
    </li>
    <li>
      <b>It’s a blast!</b>
      Cycling is a lot of fun, as I’ve discovered in recent weeks, and riding
      to work is much, much better than driving. Try it. You’ll love it.
    </li>
  </ul>

</div>
