<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body class="light">
<%= site_bar -%>
<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
<div id="page_container">
  <header id="header">
    <%#= render '/refinery/header' -%>
    <%= render :partial => 'shared/header_bar_2' %>
  </header>
  <section id="page" class="w960">
    <div class="layout_2_column">
      <div class="columns">
        <%= yield %>
        <div class="side column">
          <%= render :partial => 'shared/side_nav' %>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <%= render '/refinery/footer' -%>
  </footer>
</div>
<%= render '/refinery/javascripts' %>

<%= render :partial => 'shared/overlays' %>
</body>
</html>
